<header>
    <nav class="navbar navbar-expand-md navbar-dark nav-bg">
        <div class="container px-0">
            <a class="navbar-brand" href="#">
                <img src="/img/Icon.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/lobby">Lobby</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/myraces">My Races</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/stables">My Stables</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/mission">Mission Statement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/marketplace">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">My Account</a>
                    </li>
                </ul>
                <button class="btn btn-outline-warning my-2 my-sm-0" onclick="logout();">Log out</button>
            </div>
        </div>
    </nav>
</header>