<div class="form-signin">
    <img class="mb-4 " src="/img/Icon.png" alt="Logo" width="185" height="185">
    <h1 class="h3 mb-4 font-weight-normal">FHR Stables</h1>
    <fb:login-button size="large" id="fb-btn" scope="public_profile,email" onlogin="testApi();" target="_top">
    </fb:login-button>
    <p class="mt-5 mb-3 text-white-50">&copy; 2019</p>
</div>