<main role="main" class="flex-shrink-0">

    <div class="container">

        <h3 class="text-center mt-3 mb-0 page-title">My Stables</h3>

        <div class="row pb-5">

            {{#each horses}}
            <div class="col-xs-6 col-md-12 col-lg-6 mb-3 mt-3">
                <div class="card card-races green-1 shadow-sm">
                    <h5 class="card-header"><i class="fas fa-horse"></i> {{name}}</h5>
                    <div class="card-body">
                        <table class="table  table-sm mb-0">
                            <thead class="green-2">
                                <tr>
                                    <th scope="col"><span class="cr-title">YEARS</span></th>
                                    <th scope="col"><span class="cr-title">GENDER</span></th>

                                    <th scope="col"><span class="cr-title">COST TO ACQUIRE</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4</td>
                                    <td>Female</td>
                                    <td>${{price}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="my-0">
                        <table class="table table-sm mb-0">
                            <thead class="green-2">
                                <tr>
                                    <th scope="col"><span class="cr-title">FATHER</span></th>
                                    <th scope="col"><span class="cr-title">MOTHER</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bradley McGee</td>
                                    <td>Betty Townsend</td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="/sellhorse/{{_id}}" method="post">
                            <input type="submit" name="sellhorse" value="Sell" class="btn btn btn-sm btn-warning float-right" />
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</main>