<main role="main" class="flex-shrink-0">

    <div class="container">

        <h3 class="text-center mt-3 page-title"><i class="fas fa-flag-checkered"></i> {{race.title}}</h3>
        <div class="row mt-3 pb-5">
            <div class="col-xs-12 col-md-12 col-lg-12 mb-3">
                <div class="card card-races green-1 shadow-sm">

                    <div class="card-body">

                        <table class="table race-table table-striped table-sm mb-0">
                            <thead class="green-2">
                                <tr>
                                    <th scope="col"><span class="cr-title ml-2">RANK</span></th>
                                    <th scope="col"><span class="cr-title">NAME</span></th>
                                    <th scope="col"><span class="cr-title"><i class="fas fa-trophy gold"></i></span></th>
                                    <th scope="col"><span class="cr-title"><i class="fas fa-trophy bronze"></i></span></th>
                                    <th scope="col"><span class="cr-title"><i class="fas fa-trophy silver"></i></span></th>
                                    <th scope="col"><span class="cr-title float-right mr-2">Money total</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each race.horses}}
                                <tr>
                                    <td class="pl-2">?</td>
                                    <td>{{name}}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="text-right pr-2">-</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                {{#if enrolled}}
                    <p class="text-center mt-2"><button type="button" class="btn btn btn-success ">ENROLLED </button></p>
                {{else}}
                    <p class="text-center mt-2"><button type="button" class="btn btn btn-warning " onclick="window.location.href='/addhorse/{{race.id}}'">JOIN
                        THE RACE</button></p>
                {{/if}}

            </div>
        </div>
    </div>
</main>